# Entornos virtuales
venv/
.env
env/

# Caché de Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Git
.git/
.gitignore

# Datos locales que ya mapeamos por volumen
models/predictions.db

# Notebooks o archivos pesados que no usa la app
*.ipynb