version: '3.8'

services:
  predictor-bot:
    build: .
    container_name: cripto_bot_final
    ports:
      - "8501:8501"
    volumes:
      - ./models:/app/models
    env_file:
      - .env
    restart: always
    environment:
      - PYTHONUNBUFFERED=1
